//colors

$black: #000;
$white: #fff;
$purple1: #5e239d;
$purple2: #3a0475;
$purple3: #30124e;
$purple4: #150433;
$green1: #10f65e;
$green2: #00f0b5;
$green3: #6decaf;
$grey1: #30233d;
$grey2: #776c82;
$grey3: #9b94a3;
$grey4: #f4f4ed;
$grey5: #fcfcfc;
$red1: #f0002b;
$red2: #f61067;
$orange: #f67110;
$blue: #00a8f0;

$color1: rgba(255, 255, 255, 0.1);
$color2: rgba(196, 196, 196, 0.02);
$color3: rgba(49, 18, 81, 0);
$color4: rgba(196, 196, 196, 0.05);
$color5: rgba(255, 255, 255, 0.5);
$color6: rgba(196, 196, 196, 0);
$color7: rgba(255, 255, 255, 0.25)